.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  font-size: var(--app-font-size);
}

.app__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: var(--gap);
  flex: 1 0 auto;
}

.app__control-panel {
  /* padding-bottom for copyright */
  padding: var(--gap) var(--gap) 45px 0;
}
