*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* Remove Firefox (Android) border radius on buttons */
button {
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
}

/* Remove Firefox (Android) dotted border on focus */
button::-moz-focus-inner {
  border: 0;
}
