.time-input {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  font-size: inherit;
  font-family: monospace;
  cursor: default;
}

.time-input + .time-input {
  margin-top: var(--gap);
}

.time-input__label {
  font-size: var(--time-input-label-font-size);
  display: block;
  position: absolute;
  top: calc(var(--time-input-input-border-width) + 3px);
  left: calc(var(--time-input-input-border-width) + 4px);
  z-index: -1;
  cursor: default;
}

.time-input__input {
  font-size: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  outline: none;
  border-width: var(--control-input-border-width);
  border-style: solid;
  border-color: var(--control-input-border-color);
  transition: border ease 0.15s;
}

.time-input__input::-webkit-inner-spin-button,
.time-input__input::-webkit-outer-spin-button {
  height: 100%;
}

.time-input__input_focus,
.time-input__input:focus {
  border-color: var(--control-input-focus-border-color);
}

.time-input_arrival {
  color: #9C27B0;
  flex-grow: 2;
  font-size: 2em;
}

.time-input_working {
  color: #3F51B5;
}

.time-input_lunch {
  color: #ff5722;
}

.time-input_leave {
  color: #4CAF50;
  flex-grow: 3;
  font-size: 3em;
}
